current_workflow.json
{"updatedAt":"2026-01-27T03:27:08.028Z","createdAt":"2026-01-19T21:38:56.808Z","id":"iB6MjmojzlgVQyWnzirJm","name":"registro-isabel","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"registro-isabel","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-240,-48],"id":"460f1e98-2870-4ceb-9a94-53162733b4f0","webhookId":"a3832d6a-3b62-4feb-aa88-bbccdbed69a9"},{"parameters":{"tableId":"leads_isabel","fieldsUi":{"fieldValues":[{"fieldId":"nombre","fieldValue":"={{ $json.body.Nombre }}"},{"fieldId":"whatsapp","fieldValue":"={{ $json.body.WhatsApp }}"},{"fieldId":"email","fieldValue":"={{ $json.body.Email }}"},{"fieldId":"paquete","fieldValue":"={{ $json.body.Interes }}"}]}},"name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[32,-48],"id":"24c57921-b7cf-4ba8-ae55-9fecdf54a673","credentials":{"supabaseApi":{"id":"adwOlpOVzQbJ5lla","name":"Supabase account"}}},{"name":"Evolution API Final","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[304,-140],"id":"258a7445-8f3c-4ea8-99b2-684dba24de02","retryOnFail":false,"onError":"continueErrorOutput","parameters":{"method":"POST","url":"http://62.84.189.155:8080/message/sendText/puertadubai","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"m8mhao5g7e99yrlz4s0dp6"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ ($json.whatsapp || $json.body.WhatsApp || '').toString().replace(/\\D/g, '') }}\",\n  \"textMessage\": {\n    \"text\": \"Hola {{ $json.nombre || $json.body.Nombre }}, gracias por registrarte. Isabel te contactará en breve.\"\n  }\n}","options":{}}},{"parameters":{"fromEmail":"puertadubai@gmail.com","toEmail":"={{ $json.email }}","subject":"Bienvenido a Dhahabi Agency - Tu Puerta a Dubái ✨","emailFormat":"html","html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Bienvenido a Puerta Dubai</title>\n    <style>\n        body, p, h1, div { margin: 0; padding: 0; }\n        body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #f8f8f8; color: #333333; -webkit-font-smoothing: antialiased; }\n        .wrapper { width: 100%; table-layout: fixed; background-color: #f8f8f8; padding-bottom: 40px; }\n        .container { max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 10px 30px rgba(0,0,0,0.08); border: 1px solid #eaeaea; }\n        .banner { width: 100%; height: 240px; background-image: url('https://images.unsplash.com/photo-1512453979798-5ea936a7fe48?q=80&w=800&auto=format&fit=crop'); background-size: cover; background-position: center; position: relative; }\n        .banner-overlay { position: absolute; bottom: 0; left: 0; width: 100%; height: 80px; background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0)); }\n        .content { padding: 40px 30px; text-align: center; }\n        h1 { font-family: 'Georgia', serif; color: #2D2D2D; font-size: 26px; margin-bottom: 25px; font-weight: normal; letter-spacing: 0.5px; }\n        p { font-size: 16px; line-height: 1.7; color: #555555; margin-bottom: 25px; }\n        .btn-container { margin: 35px 0; }\n        .btn { background-color: #D4AF37; color: #ffffff !important; text-decoration: none; padding: 16px 40px; border-radius: 4px; font-weight: bold; font-size: 14px; text-transform: uppercase; letter-spacing: 1.5px; transition: background 0.3s ease; display: inline-block; box-shadow: 0 4px 15px rgba(212, 175, 55, 0.3); }\n        .btn:hover { background-color: #B5952F; box-shadow: 0 6px 20px rgba(212, 175, 55, 0.4); }\n        .signature { margin-top: 40px; border-top: 1px solid #f0f0f0; padding-top: 30px; }\n        .logo-sig { width: 120px; height: auto; margin-bottom: 15px; }\n        .isa-name { font-family: 'Georgia', serif; font-size: 18px; color: #2d2d2d; font-style: italic; }\n        .footer { background-color: #f8f8f8; padding: 20px; text-align: center; font-size: 12px; color: #999999; border-top: 1px solid #eaeaea; }\n        .spam-hint { color: #aaaaaa; margin-top: 10px; font-style: italic; }\n        @media only screen and (max-width: 600px) { .container { border-radius: 0; border: none; } .content { padding: 30px 20px; } h1 { font-size: 22px; } .banner { height: 180px; } }\n    </style>\n</head>\n<body>\n    <div class=\"wrapper\">\n        <div class=\"container\">\n            <div class=\"banner\">\n                <div class=\"banner-overlay\"></div>\n            </div>\n            <div class=\"content\">\n                <h1>¡Hola {{ $json.nombre || 'Futuro Residente' }}! ✨</h1>\n                <p>No sabes la alegría que me da saludarte. Si estás leyendo esto, es porque algo dentro de ti ya empezó a viajar hacia los Emiratos. 🇦🇪✈️</p>\n                <p>Sé que dar el paso impone respeto —yo también estuve ahí—, pero quiero que sepas algo muy importante: <strong>no vas a hacerlo solo.</strong></p>\n                <p>Estoy aquí para ser esa amiga experta que te guía, te cuida y te ahorra los dolores de cabeza que yo pasé. Mi misión en <em>Dhahabi Agency</em> no es venderte un trámite, es asegurarme de que tu llegada sea un éxito.</p>\n                <div class=\"btn-container\">\n                    <a href=\"https://soytu.puertadubai.online/catalogo.pdf\" class=\"btn\">Descargar Catálogo 📩</a>\n                </div>\n                <p>Échale un vistazo con calma, visualízate allí... y cuando estés listo, hablamos.</p>\n                <div class=\"signature\">\n                    <img src=\"https://soytu.puertadubai.online/logo-pd-v3.png\" alt=\"Dhahabi Agency Logo\" class=\"logo-sig\">\n                    <div class=\"isa-name\">Con cariño, Isabel</div>\n                    <p style=\"font-size: 12px; margin-top: 5px; color: #888;\">CEO, Dhahabi Agency</p>\n                </div>\n            </div>\n            <div class=\"footer\">\n                <p>Dhahabi Agency © 2026 - Tu Llave a los Emiratos 🗝️</p>\n                <p class=\"spam-hint\">¿Nos fuimos a la carpeta de Spam? 😉 Muévenos a la bandeja principal para no perderte ningún consejo.</p>\n            </div>\n        </div>\n    </div>\n</body>\n</html>","options":{}},"name":"Email (SMTP)","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[304,60],"id":"e4f8d9c2-premium-email","credentials":{"smtp":{"id":"smtp_cred_id","name":"SMTP account"}}}],"connections":{"Webhook":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Evolution API Final","type":"main","index":0},{"node":"Email (SMTP)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7782012e-fff9-4c04-8671-06a140f3995d","activeVersionId":"7782012e-fff9-4c04-8671-06a140f3995d","versionCounter":101,"triggerCount":1,"shared":[{"updatedAt":"2026-01-19T21:38:56.818Z","createdAt":"2026-01-19T21:38:56.818Z","role":"workflow:owner","workflowId":"iB6MjmojzlgVQyWnzirJm","projectId":"5IxGhmgsQNQv9v3d","project":{"updatedAt":"2025-12-02T12:22:12.872Z","createdAt":"2025-12-02T12:17:46.435Z","id":"5IxGhmgsQNQv9v3d","name":"Jorge Raudel Ricardo Rodriguez <jorgeraudelricardo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2d259069-42d7-4593-8680-376787b66485","projectRelations":[{"updatedAt":"2025-12-02T12:17:46.435Z","createdAt":"2025-12-02T12:17:46.435Z","userId":"2d259069-42d7-4593-8680-376787b66485","projectId":"5IxGhmgsQNQv9v3d","user":{"updatedAt":"2026-01-26T06:46:10.000Z","createdAt":"2025-12-02T12:17:45.164Z","id":"2d259069-42d7-4593-8680-376787b66485","email":"jorgeraudelricardo@gmail.com","firstName":"Jorge Raudel","lastName":"Ricardo Rodriguez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:22:53.225Z","personalization_survey_n8n_version":"1.119.2","companySize":"personalUser","companyType":"digital-agency","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"lwCRY0f7m1IaHALb","userActivatedAt":1764764190170,"npsSurvey":{"responded":true,"lastShownAt":1768910344389}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-27T03:27:08.034Z","createdAt":"2026-01-27T03:27:08.034Z","versionId":"7782012e-fff9-4c04-8671-06a140f3995d","workflowId":"iB6MjmojzlgVQyWnzirJm","nodes":[{"parameters":{"httpMethod":"POST","path":"registro-isabel","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-240,-48],"id":"460f1e98-2870-4ceb-9a94-53162733b4f0","webhookId":"a3832d6a-3b62-4feb-aa88-bbccdbed69a9"},{"parameters":{"tableId":"leads_isabel","fieldsUi":{"fieldValues":[{"fieldId":"nombre","fieldValue":"={{ $json.body.Nombre }}"},{"fieldId":"whatsapp","fieldValue":"={{ $json.body.WhatsApp }}"},{"fieldId":"email","fieldValue":"={{ $json.body.Email }}"},{"fieldId":"paquete","fieldValue":"={{ $json.body.Interes }}"}]}},"name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[32,-48],"id":"24c57921-b7cf-4ba8-ae55-9fecdf54a673","credentials":{"supabaseApi":{"id":"adwOlpOVzQbJ5lla","name":"Supabase account"}}},{"name":"Evolution API Final","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[304,-140],"id":"258a7445-8f3c-4ea8-99b2-684dba24de02","retryOnFail":false,"onError":"continueErrorOutput","parameters":{"method":"POST","url":"http://62.84.189.155:8080/message/sendText/puertadubai","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"m8mhao5g7e99yrlz4s0dp6"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ ($json.whatsapp || $json.body.WhatsApp || '').toString().replace(/\\D/g, '') }}\",\n  \"textMessage\": {\n    \"text\": \"Hola {{ $json.nombre || $json.body.Nombre }}, gracias por registrarte. Isabel te contactará en breve.\"\n  }\n}","options":{}}},{"parameters":{"fromEmail":"puertadubai@gmail.com","toEmail":"={{ $json.email }}","subject":"Bienvenido a Dhahabi Agency - Tu Puerta a Dubái ✨","emailFormat":"html","html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Bienvenido a Puerta Dubai</title>\n    <style>\n        body, p, h1, div { margin: 0; padding: 0; }\n        body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #f8f8f8; color: #333333; -webkit-font-smoothing: antialiased; }\n        .wrapper { width: 100%; table-layout: fixed; background-color: #f8f8f8; padding-bottom: 40px; }\n        .container { max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 10px 30px rgba(0,0,0,0.08); border: 1px solid #eaeaea; }\n        .banner { width: 100%; height: 240px; background-image: url('https://images.unsplash.com/photo-1512453979798-5ea936a7fe48?q=80&w=800&auto=format&fit=crop'); background-size: cover; background-position: center; position: relative; }\n        .banner-overlay { position: absolute; bottom: 0; left: 0; width: 100%; height: 80px; background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0)); }\n        .content { padding: 40px 30px; text-align: center; }\n        h1 { font-family: 'Georgia', serif; color: #2D2D2D; font-size: 26px; margin-bottom: 25px; font-weight: normal; letter-spacing: 0.5px; }\n        p { font-size: 16px; line-height: 1.7; color: #555555; margin-bottom: 25px; }\n        .btn-container { margin: 35px 0; }\n        .btn { background-color: #D4AF37; color: #ffffff !important; text-decoration: none; padding: 16px 40px; border-radius: 4px; font-weight: bold; font-size: 14px; text-transform: uppercase; letter-spacing: 1.5px; transition: background 0.3s ease; display: inline-block; box-shadow: 0 4px 15px rgba(212, 175, 55, 0.3); }\n        .btn:hover { background-color: #B5952F; box-shadow: 0 6px 20px rgba(212, 175, 55, 0.4); }\n        .signature { margin-top: 40px; border-top: 1px solid #f0f0f0; padding-top: 30px; }\n        .logo-sig { width: 120px; height: auto; margin-bottom: 15px; }\n        .isa-name { font-family: 'Georgia', serif; font-size: 18px; color: #2d2d2d; font-style: italic; }\n        .footer { background-color: #f8f8f8; padding: 20px; text-align: center; font-size: 12px; color: #999999; border-top: 1px solid #eaeaea; }\n        .spam-hint { color: #aaaaaa; margin-top: 10px; font-style: italic; }\n        @media only screen and (max-width: 600px) { .container { border-radius: 0; border: none; } .content { padding: 30px 20px; } h1 { font-size: 22px; } .banner { height: 180px; } }\n    </style>\n</head>\n<body>\n    <div class=\"wrapper\">\n        <div class=\"container\">\n            <div class=\"banner\">\n                <div class=\"banner-overlay\"></div>\n            </div>\n            <div class=\"content\">\n                <h1>¡Hola {{ $json.nombre || 'Futuro Residente' }}! ✨</h1>\n                <p>No sabes la alegría que me da saludarte. Si estás leyendo esto, es porque algo dentro de ti ya empezó a viajar hacia los Emiratos. 🇦🇪✈️</p>\n                <p>Sé que dar el paso impone respeto —yo también estuve ahí—, pero quiero que sepas algo muy importante: <strong>no vas a hacerlo solo.</strong></p>\n                <p>Estoy aquí para ser esa amiga experta que te guía, te cuida y te ahorra los dolores de cabeza que yo pasé. Mi misión en <em>Dhahabi Agency</em> no es venderte un trámite, es asegurarme de que tu llegada sea un éxito.</p>\n                <div class=\"btn-container\">\n                    <a href=\"https://soytu.puertadubai.online/catalogo.pdf\" class=\"btn\">Descargar Catálogo 📩</a>\n                </div>\n                <p>Échale un vistazo con calma, visualízate allí... y cuando estés listo, hablamos.</p>\n                <div class=\"signature\">\n                    <img src=\"https://soytu.puertadubai.online/logo-pd-v3.png\" alt=\"Dhahabi Agency Logo\" class=\"logo-sig\">\n                    <div class=\"isa-name\">Con cariño, Isabel</div>\n                    <p style=\"font-size: 12px; margin-top: 5px; color: #888;\">CEO, Dhahabi Agency</p>\n                </div>\n            </div>\n            <div class=\"footer\">\n                <p>Dhahabi Agency © 2026 - Tu Llave a los Emiratos 🗝️</p>\n                <p class=\"spam-hint\">¿Nos fuimos a la carpeta de Spam? 😉 Muévenos a la bandeja principal para no perderte ningún consejo.</p>\n            </div>\n        </div>\n    </div>\n</body>\n</html>","options":{}},"name":"Email (SMTP)","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[304,60],"id":"e4f8d9c2-premium-email","credentials":{"smtp":{"id":"smtp_cred_id","name":"SMTP account"}}}],"connections":{"Webhook":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Evolution API Final","type":"main","index":0},{"node":"Email (SMTP)","type":"main","index":0}]]}},"authors":"Jorge Raudel Ricardo Rodriguez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-27T03:27:08.229Z","id":31,"workflowId":"iB6MjmojzlgVQyWnzirJm","versionId":"7782012e-fff9-4c04-8671-06a140f3995d","event":"activated","userId":"2d259069-42d7-4593-8680-376787b66485"}]}}