current_workflow.json
{"updatedAt":"2026-01-26T09:52:06.887Z","createdAt":"2026-01-19T21:38:56.808Z","id":"iB6MjmojzlgVQyWnzirJm","name":"registro-isabel","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"registro-isabel","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-240,-48],"id":"460f1e98-2870-4ceb-9a94-53162733b4f0","webhookId":"a3832d6a-3b62-4feb-aa88-bbccdbed69a9"},{"parameters":{"tableId":"leads_isabel","fieldsUi":{"fieldValues":[{"fieldId":"nombre","fieldValue":"={{ $json.body.Nombre }}"},{"fieldId":"whatsapp","fieldValue":"={{ $json.body.WhatsApp }}"},{"fieldId":"email","fieldValue":"={{ $json.body.Email }}"},{"fieldId":"paquete","fieldValue":"={{ $json.body.Interes }}"}]}},"name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[32,-48],"id":"24c57921-b7cf-4ba8-ae55-9fecdf54a673","credentials":{"supabaseApi":{"id":"adwOlpOVzQbJ5lla","name":"Supabase account"}}},{"name":"Evolution API Final","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[304,-48],"id":"258a7445-8f3c-4ea8-99b2-684dba24de02","retryOnFail":true,"onError":"continueErrorOutput","credentials":{"httpHeaderAuth":{"id":"Puns5w7Q3WWhHGCY","name":"Header Auth account"}},"parameters":{"method":"POST","url":"http://62.84.189.155:8080/message/sendText/puertadubai","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.whatsapp }}\",\n  \"textMessage\": {\n    \"text\": \"Hola {{ $json.nombre }}, gracias por registrarte. Isabel te contactará en breve.\"\n  }\n}","options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Evolution API Final","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57842efd-481c-44fd-b331-5ad02146932c","activeVersionId":"57842efd-481c-44fd-b331-5ad02146932c","versionCounter":30,"triggerCount":1,"shared":[{"updatedAt":"2026-01-19T21:38:56.818Z","createdAt":"2026-01-19T21:38:56.818Z","role":"workflow:owner","workflowId":"iB6MjmojzlgVQyWnzirJm","projectId":"5IxGhmgsQNQv9v3d","project":{"updatedAt":"2025-12-02T12:22:12.872Z","createdAt":"2025-12-02T12:17:46.435Z","id":"5IxGhmgsQNQv9v3d","name":"Jorge Raudel Ricardo Rodriguez <jorgeraudelricardo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2d259069-42d7-4593-8680-376787b66485","projectRelations":[{"updatedAt":"2025-12-02T12:17:46.435Z","createdAt":"2025-12-02T12:17:46.435Z","userId":"2d259069-42d7-4593-8680-376787b66485","projectId":"5IxGhmgsQNQv9v3d","user":{"updatedAt":"2026-01-26T06:46:10.000Z","createdAt":"2025-12-02T12:17:45.164Z","id":"2d259069-42d7-4593-8680-376787b66485","email":"jorgeraudelricardo@gmail.com","firstName":"Jorge Raudel","lastName":"Ricardo Rodriguez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:22:53.225Z","personalization_survey_n8n_version":"1.119.2","companySize":"personalUser","companyType":"digital-agency","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"lwCRY0f7m1IaHALb","userActivatedAt":1764764190170,"npsSurvey":{"responded":true,"lastShownAt":1768910344389}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-26T09:52:06.897Z","createdAt":"2026-01-26T09:52:06.897Z","versionId":"57842efd-481c-44fd-b331-5ad02146932c","workflowId":"iB6MjmojzlgVQyWnzirJm","nodes":[{"parameters":{"httpMethod":"POST","path":"registro-isabel","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-240,-48],"id":"460f1e98-2870-4ceb-9a94-53162733b4f0","webhookId":"a3832d6a-3b62-4feb-aa88-bbccdbed69a9"},{"parameters":{"tableId":"leads_isabel","fieldsUi":{"fieldValues":[{"fieldId":"nombre","fieldValue":"={{ $json.body.Nombre }}"},{"fieldId":"whatsapp","fieldValue":"={{ $json.body.WhatsApp }}"},{"fieldId":"email","fieldValue":"={{ $json.body.Email }}"},{"fieldId":"paquete","fieldValue":"={{ $json.body.Interes }}"}]}},"name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[32,-48],"id":"24c57921-b7cf-4ba8-ae55-9fecdf54a673","credentials":{"supabaseApi":{"id":"adwOlpOVzQbJ5lla","name":"Supabase account"}}},{"name":"Evolution API Final","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[304,-48],"id":"258a7445-8f3c-4ea8-99b2-684dba24de02","retryOnFail":true,"onError":"continueErrorOutput","credentials":{"httpHeaderAuth":{"id":"Puns5w7Q3WWhHGCY","name":"Header Auth account"}},"parameters":{"method":"POST","url":"http://62.84.189.155:8080/message/sendText/puertadubai","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $json.whatsapp }}\",\n  \"textMessage\": {\n    \"text\": \"Hola {{ $json.nombre }}, gracias por registrarte. Isabel te contactará en breve.\"\n  }\n}","options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Evolution API Final","type":"main","index":0}]]}},"authors":"Jorge Raudel Ricardo Rodriguez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-26T09:52:07.190Z","id":8,"workflowId":"iB6MjmojzlgVQyWnzirJm","versionId":"57842efd-481c-44fd-b331-5ad02146932c","event":"activated","userId":"2d259069-42d7-4593-8680-376787b66485"}]}}