fixed_workflow.json
{
    "updatedAt": "2026-01-31T06:22:20.095Z",
    "createdAt": "2026-01-19T21:38:56.808Z",
    "id": "iB6MjmojzlgVQyWnzirJm",
    "name": "registro-isabel",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "registro-isabel",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -240,
                -48
            ],
            "id": "460f1e98-2870-4ceb-9a94-53162733b4f0",
            "webhookId": "a3832d6a-3b62-4feb-aa88-bbccdbed69a9"
        },
        {
            "parameters": {
                "jsCode": "const fields = items[0].json.data?.fields || [];\n\nconst getVal = (text) => {\n  if (!fields.length) return undefined;\n  const found = fields.find(f => f.label && f.label.toLowerCase().includes(text.toLowerCase()));\n  return found ? found.value : undefined;\n};\n\n// Fallback for direct JSON body (React Form or Tally)\nconst getBodyVal = (key) => items[0].json[key] || items[0].json.body?.[key];\n\nconst fullName = getBodyVal('nombre') || getBodyVal('Nombre') || getBodyVal('name') || getVal('nombre completo') || 'Amigo';\nconst firstName = fullName.trim().split(' ')[0] || 'Amigo';\n// Capitalize\nconst firstNameCap = firstName.charAt(0).toUpperCase() + firstName.slice(1).toLowerCase();\nconst fullNameCap = fullName.replace(/\\b\\w/g, l => l.toUpperCase());\n\nreturn {\n  json: {\n    body: {\n      proximidad_viaje: getBodyVal('proximidad_viaje') || getVal('cerca est\u00e1s hoy'),\n      pasaporte_ok: getBodyVal('pasaporte_ok') || getVal('pasaporte vigente'),\n      presupuesto_rango: getBodyVal('presupuesto_rango') || getVal('presupuesto inicial'),\n      meta_viaje: getBodyVal('meta_viaje') || getVal('meta principal'),\n      Nombre: fullNameCap,\n      PrimerNombre: firstNameCap,\n      Email: getBodyVal('email') || getBodyVal('Email') || getVal('correo electr\u00f3nico'),\n      WhatsApp: getBodyVal('whatsapp') || getBodyVal('WhatsApp') || getVal('WhatsApp'),\n      interes_contacto: getBodyVal('interes_contacto') || getVal('contacte personalmente')\n    }\n  }\n};"
            },
            "name": "Adaptador Web",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                -80,
                -48
            ],
            "id": "tally-adapter-node"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.Nombre }}",
                            "operation": "isNotEmpty"
                        },
                        {
                            "value1": "={{ $json.body.WhatsApp }}",
                            "operation": "isNotEmpty"
                        },
                        {
                            "value1": "={{ $json.body.Email }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Validar Inputs",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                120,
                -48
            ],
            "id": "validation-node-blindaje"
        },
        {
            "parameters": {
                "tableId": "leads_isabel",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "nombre",
                            "fieldValue": "={{ ($json.body.Nombre || '').toString().toLowerCase().replace(/\\b\\w/g, l => l.toUpperCase()) }}"
                        },
                        {
                            "fieldId": "whatsapp",
                            "fieldValue": "={{ $json.body.WhatsApp }}"
                        },
                        {
                            "fieldId": "email",
                            "fieldValue": "={{ $json.body.Email }}"
                        },
                        {
                            "fieldId": "proximidad_viaje",
                            "fieldValue": "={{ $json.body.proximidad_viaje }}"
                        },
                        {
                            "fieldId": "pasaporte_ok",
                            "fieldValue": "={{ $json.body.pasaporte_ok }}"
                        },
                        {
                            "fieldId": "presupuesto_rango",
                            "fieldValue": "={{ $json.body.presupuesto_rango }}"
                        },
                        {
                            "fieldId": "meta_viaje",
                            "fieldValue": "={{ $json.body.meta_viaje }}"
                        },
                        {
                            "fieldId": "interes_contacto",
                            "fieldValue": "={{ $json.body.interes_contacto }}"
                        },
                        {
                            "fieldId": "es_vip",
                            "fieldValue": "={{ (($json.body.presupuesto_rango || '').toString().includes('4,000') || ($json.body.presupuesto_rango || '').toString().includes('Opci\u251c\u2502n C')) ? true : false }}"
                        }
                    ]
                }
            },
            "name": "Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                320,
                -48
            ],
            "id": "24c57921-b7cf-4ba8-ae55-9fecdf54a673",
            "credentials": {
                "supabaseApi": {
                    "id": "adwOlpOVzQbJ5lla",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.es_vip }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Check VIP",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                550,
                150
            ],
            "id": "check-vip-node"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://62.84.189.155:8080/message/sendText/puertadubai",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "m8mhao5g7e99yrlz4s0dp6"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"5358249692\",\n  \"textMessage\": {\n    \"text\": \"\u2261\u0192\u00dc\u00bf *ALERTA VIP* \u2261\u0192\u00dc\u00bf\\n\\n\u252c\u00edIsabel! Nuevo lead BALLENA detectado (+$4,000 USD). \u2261\u0192\u00c9\u00ef\\n\\n\u2261\u0192\u00e6\u00f1 *Nombre:* {{ $json.nombre }}\\n\u2261\u0192\u00f4\u2592 *WhatsApp:* {{ $json.whatsapp }}\\n\u2261\u0192\u00c6\u2591 *Presupuesto:* {{ $json.presupuesto_rango }}\\n\u2261\u0192\u00c4\u00bb *Meta:* {{ $json.meta_viaje }}\\n\\n\u252c\u00edRevisa Supabase!\"\n  }\n}",
                "options": {}
            },
            "name": "Alert Isabel Whatsapp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                780,
                150
            ],
            "id": "alert-isabel-node"
        },
        {
            "name": "Evolution API Final",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                550,
                -180
            ],
            "id": "258a7445-8f3c-4ea8-99b2-684dba24de02",
            "retryOnFail": false,
            "onError": "continueErrorOutput",
            "parameters": {
                "method": "POST",
                "url": "http://62.84.189.155:8080/message/sendText/puertadubai",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "m8mhao5g7e99yrlz4s0dp6"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ ($json.whatsapp || $json.body.WhatsApp || $node['Webhook'].json.body.WhatsApp).toString().replace(/\\D/g, '') }}\",\n  \"textMessage\": {\n    \"text\": \"\u252c\u00edHola *{{ $node['Adaptador Web'].json.body.PrimerNombre }}*! \u0393\u00a3\u00bf Qu\u251c\u2310 gusto saludarte.\\n\\nSoy Isabel, de Dhahabi Agency. Much\u251c\u00a1simas gracias por registrarte y por tu inter\u251c\u2310s en lo que estamos construyendo en Dub\u251c\u00edi. \u2261\u0192\u00e7\u00aa\u2261\u0192\u00e7\u00ac\\n\\nAcabo de enviarte un regalo de bienvenida a tu correo electr\u251c\u2502nico: nuestro cat\u251c\u00edlogo exclusivo con todo lo que necesitas saber para empezar en los Emiratos. \u2261\u0192\u00f4\u2310\\n\\nDos cositas r\u251c\u00edpidas: 1\u2229\u2555\u00c5\u0393\u00e2\u00fa Corre a revisar tu bandeja de entrada (si no lo ves, chequea en Spam, \u252c\u00eda veces Google se pone caprichoso! \u2261\u0192\u00ff\u00e0). 2\u2229\u2555\u00c5\u0393\u00e2\u00fa Guarda mi n\u251c\u2551mero en tus contactos para que siempre estemos conectados por aqu\u251c\u00a1.\\n\\nCualquier duda que tengas, solo escr\u251c\u00a1beme. \u252c\u00edEstoy lista para ayudarte! \u2261\u0192\u00dc\u00c7\"\n  }\n}",
                "options": {}
            }
        },
        {
            "parameters": {
                "fromEmail": "puertadubbai@gmail.com",
                "toEmail": "={{ $json.email || $node['Webhook'].json.body.Email }}",
                "subject": "\u252c\u00edBienvenido a Dub\u251c\u00edi! \u2261\u0192\u00e7\u00aa\u2261\u0192\u00e7\u00ac Tu viaje empieza hoy \u0393\u00a3\u00bf",
                "emailFormat": "html",
                "html": "=<div style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; max-width: 600px; margin: 0 auto; background-color: #ffffff; color: #333;\">\n    <!-- Banner -->\n    <img src=\"http://62.84.189.155/imagenes/imagen1.jpg\" alt=\"Puerta Dub\u251c\u00edi\" style=\"width: 100%; max-width: 100%; height: auto; display: block;\">\n    \n    <div style=\"padding: 30px;\">\n        <p style=\"font-size: 16px; line-height: 1.6;\">\u252c\u00edHola <strong>{{ $node['Adaptador Web'].json.body.PrimerNombre }}</strong>! \u0393\u00a3\u00bf</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">No sabes la alegr\u251c\u00a1a que me da saludarte. Si est\u251c\u00eds leyendo esto, es porque algo dentro de ti ya empez\u251c\u2502 a viajar hacia los Emiratos. \u2261\u0192\u00e7\u00aa\u2261\u0192\u00e7\u00ac\u0393\u00a3\u00ea\u2229\u2555\u00c5</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">S\u251c\u2310 que dar el paso impone respeto \u0393\u00c7\u00f6yo tambi\u251c\u2310n estuve ah\u251c\u00a1\u0393\u00c7\u00f6, pero quiero que sepas algo muy importante: <strong>no vas a hacerlo solo.</strong></p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">Estoy aqu\u251c\u00a1 para ser esa amiga experta que te gu\u251c\u00a1a, te cuida y te ahorra los dolores de cabeza que yo pas\u251c\u2310. Mi misi\u251c\u2502n en <em>Dhahabi Agency</em> no es venderte un tr\u251c\u00edmite, es asegurarme de que tu llegada sea un \u251c\u2310xito.</p>\n        \n        <div style=\"text-align: center; margin: 30px 0;\">\n            <a href=\"https://drive.google.com/uc?export=download&id=1tIqYM9A0fQFF2KILaT204j_07bQ-TtLv\" style=\"background-color: #D4AF37; color: #ffffff; padding: 15px 30px; text-decoration: none; font-weight: bold; font-size: 16px; border-radius: 5px; display: inline-block; text-transform: uppercase; letter-spacing: 1px; box-shadow: 0 4px 6px rgba(212, 175, 55, 0.3);\">Descargar Cat\u251c\u00edlogo \u2261\u0192\u00f4\u2310</a>\n        </div>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">\u251c\u00ebchale un vistazo con calma, visual\u251c\u00a1zate all\u251c\u00a1... y cuando est\u251c\u2310s listo, hablamos.</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6; margin-top: 40px;\">Con cari\u251c\u2592o,</p>\n        \n        <div style=\"margin-top: 10px;\">\n            <strong style=\"font-size: 18px;\">Isabel</strong><br>\n            <span style=\"color: #666;\">CEO, Dhahabi Agency</span>\n        </div>\n        \n        <!-- Footer -->\n        <div style=\"margin-top: 50px; padding-top: 30px; border-top: 1px solid #eeeeee; text-align: center;\">\n            <!-- Logo Puerta Dub\u251c\u00edi -->\n            <img src=\"http://62.84.189.155/imagenes/logo%20puertadubai.png\" alt=\"Puerta Dub\u251c\u00edi\" style=\"max-width: 80px; height: auto; display: inline-block; margin-bottom: 5px;\">\n            \n            <p style=\"font-size: 10px; color: #bbb;\">\u252c\u2310 2026 Dhahabi Agency</p>\n        </div>\n    </div>\n</div>",
                "options": {
                    "allowUnauthorizedCerts": true
                }
            },
            "name": "Gmail SMTP",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                550,
                0
            ],
            "id": "e4f8d9c2-premium-email",
            "credentials": {
                "smtp": {
                    "id": "d9MsDiSEqUJr2oM4",
                    "name": "Dhahabi Legacy SMTP (Double B)"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Adaptador Web",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Adaptador Web": {
            "main": [
                [
                    {
                        "node": "Validar Inputs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validar Inputs": {
            "main": [
                [
                    {
                        "node": "Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase": {
            "main": [
                [
                    {
                        "node": "Evolution API Final",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Gmail SMTP",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Check VIP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check VIP": {
            "main": [
                [
                    {
                        "node": "Alert Isabel Whatsapp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "523db93e-f91a-450e-b79a-cd896ca25724",
    "activeVersionId": "523db93e-f91a-450e-b79a-cd896ca25724",
    "versionCounter": 196,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-01-19T21:38:56.818Z",
            "createdAt": "2026-01-19T21:38:56.818Z",
            "role": "workflow:owner",
            "workflowId": "iB6MjmojzlgVQyWnzirJm",
            "projectId": "5IxGhmgsQNQv9v3d",
            "project": {
                "updatedAt": "2025-12-02T12:22:12.872Z",
                "createdAt": "2025-12-02T12:17:46.435Z",
                "id": "5IxGhmgsQNQv9v3d",
                "name": "Jorge Raudel Ricardo Rodriguez <jorgeraudelricardo@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "2d259069-42d7-4593-8680-376787b66485",
                "projectRelations": [
                    {
                        "updatedAt": "2025-12-02T12:17:46.435Z",
                        "createdAt": "2025-12-02T12:17:46.435Z",
                        "userId": "2d259069-42d7-4593-8680-376787b66485",
                        "projectId": "5IxGhmgsQNQv9v3d",
                        "user": {
                            "updatedAt": "2026-01-31T06:19:23.000Z",
                            "createdAt": "2025-12-02T12:17:45.164Z",
                            "id": "2d259069-42d7-4593-8680-376787b66485",
                            "email": "jorgeraudelricardo@gmail.com",
                            "firstName": "Jorge Raudel",
                            "lastName": "Ricardo Rodriguez",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2025-12-02T12:22:53.225Z",
                                "personalization_survey_n8n_version": "1.119.2",
                                "companySize": "personalUser",
                                "companyType": "digital-agency",
                                "role": "business-owner",
                                "reportedSource": "youtube"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "lwCRY0f7m1IaHALb",
                                "userActivatedAt": 1764764190170,
                                "npsSurvey": {
                                    "responded": true,
                                    "lastShownAt": 1768910344389
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-01-31",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-01-31T06:22:20.100Z",
        "createdAt": "2026-01-31T06:22:20.100Z",
        "versionId": "523db93e-f91a-450e-b79a-cd896ca25724",
        "workflowId": "iB6MjmojzlgVQyWnzirJm",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "registro-isabel",
                    "options": {}
                },
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 1,
                "position": [
                    -240,
                    -48
                ],
                "id": "460f1e98-2870-4ceb-9a94-53162733b4f0",
                "webhookId": "a3832d6a-3b62-4feb-aa88-bbccdbed69a9"
            },
            {
                "parameters": {
                    "jsCode": "const fields = items[0].json.data?.fields || [];\n\nconst getVal = (text) => {\n  if (!fields.length) return undefined;\n  const found = fields.find(f => f.label && f.label.toLowerCase().includes(text.toLowerCase()));\n  return found ? found.value : undefined;\n};\n\n// Fallback for direct JSON body (React Form or Tally)\nconst getBodyVal = (key) => items[0].json[key] || items[0].json.body?.[key];\n\n\n// Extraer primer nombre\nconst nombreCompleto = getBodyVal('nombre') || getBodyVal('Nombre') || getBodyVal('name') || getVal('nombre completo');\nconst primerNombre = nombreCompleto ? nombreCompleto.split(' ')[0] : '';\nreturn {\n  json: {\n    body: {\n      PrimerNombre: primerNombre,\n  json: {\n    body: {\n      proximidad_viaje: getBodyVal('proximidad_viaje') || getVal('cerca est\u251c\u00eds hoy'),\n      pasaporte_ok: getBodyVal('pasaporte_ok') || getVal('pasaporte vigente'),\n      presupuesto_rango: getBodyVal('presupuesto_rango') || getVal('presupuesto inicial'),\n      meta_viaje: getBodyVal('meta_viaje') || getVal('meta principal'),\n      Nombre: getBodyVal('nombre') || getBodyVal('Nombre') || getBodyVal('name') || getVal('nombre completo'),\n      Email: getBodyVal('email') || getBodyVal('Email') || getVal('correo electr\u251c\u2502nico'),\n      WhatsApp: getBodyVal('whatsapp') || getBodyVal('WhatsApp') || getVal('WhatsApp'),\n      interes_contacto: getBodyVal('interes_contacto') || getVal('contacte personalmente')\n    }\n  }\n};"
                },
                "name": "Adaptador Web",
                "type": "n8n-nodes-base.code",
                "typeVersion": 1,
                "position": [
                    -80,
                    -48
                ],
                "id": "tally-adapter-node"
            },
            {
                "parameters": {
                    "conditions": {
                        "string": [
                            {
                                "value1": "={{ $json.body.Nombre }}",
                                "operation": "isNotEmpty"
                            },
                            {
                                "value1": "={{ $json.body.WhatsApp }}",
                                "operation": "isNotEmpty"
                            },
                            {
                                "value1": "={{ $json.body.Email }}",
                                "operation": "isNotEmpty"
                            }
                        ]
                    }
                },
                "name": "Validar Inputs",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    120,
                    -48
                ],
                "id": "validation-node-blindaje"
            },
            {
                "parameters": {
                    "tableId": "leads_isabel",
                    "fieldsUi": {
                        "fieldValues": [
                            {
                                "fieldId": "nombre",
                                "fieldValue": "={{ ($json.body.Nombre || '').toString().toLowerCase().replace(/\\b\\w/g, l => l.toUpperCase()) }}"
                            },
                            {
                                "fieldId": "whatsapp",
                                "fieldValue": "={{ $json.body.WhatsApp }}"
                            },
                            {
                                "fieldId": "email",
                                "fieldValue": "={{ $json.body.Email }}"
                            },
                            {
                                "fieldId": "proximidad_viaje",
                                "fieldValue": "={{ $json.body.proximidad_viaje }}"
                            },
                            {
                                "fieldId": "pasaporte_ok",
                                "fieldValue": "={{ $json.body.pasaporte_ok }}"
                            },
                            {
                                "fieldId": "presupuesto_rango",
                                "fieldValue": "={{ $json.body.presupuesto_rango }}"
                            },
                            {
                                "fieldId": "meta_viaje",
                                "fieldValue": "={{ $json.body.meta_viaje }}"
                            },
                            {
                                "fieldId": "interes_contacto",
                                "fieldValue": "={{ $json.body.interes_contacto }}"
                            },
                            {
                                "fieldId": "es_vip",
                                "fieldValue": "={{ (($json.body.presupuesto_rango || '').toString().includes('4,000') || ($json.body.presupuesto_rango || '').toString().includes('Opci\u251c\u2502n C')) ? true : false }}"
                            }
                        ]
                    }
                },
                "name": "Supabase",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    320,
                    -48
                ],
                "id": "24c57921-b7cf-4ba8-ae55-9fecdf54a673",
                "credentials": {
                    "supabaseApi": {
                        "id": "adwOlpOVzQbJ5lla",
                        "name": "Supabase account"
                    }
                }
            },
            {
                "parameters": {
                    "conditions": {
                        "boolean": [
                            {
                                "value1": "={{ $json.es_vip }}",
                                "value2": true
                            }
                        ]
                    }
                },
                "name": "Check VIP",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    550,
                    150
                ],
                "id": "check-vip-node"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://62.84.189.155:8080/message/sendText/puertadubai",
                    "authentication": "none",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "apikey",
                                "value": "m8mhao5g7e99yrlz4s0dp6"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={\n  \"number\": \"5358249692\",\n  \"textMessage\": {\n    \"text\": \"\u2261\u0192\u00dc\u00bf *ALERTA VIP* \u2261\u0192\u00dc\u00bf\\n\\n\u252c\u00edIsabel! Nuevo lead BALLENA detectado (+$4,000 USD). \u2261\u0192\u00c9\u00ef\\n\\n\u2261\u0192\u00e6\u00f1 *Nombre:* {{ $json.nombre }}\\n\u2261\u0192\u00f4\u2592 *WhatsApp:* {{ $json.whatsapp }}\\n\u2261\u0192\u00c6\u2591 *Presupuesto:* {{ $json.presupuesto_rango }}\\n\u2261\u0192\u00c4\u00bb *Meta:* {{ $json.meta_viaje }}\\n\\n\u252c\u00edRevisa Supabase!\"\n  }\n}",
                    "options": {}
                },
                "name": "Alert Isabel Whatsapp",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.1,
                "position": [
                    780,
                    150
                ],
                "id": "alert-isabel-node"
            },
            {
                "name": "Evolution API Final",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.1,
                "position": [
                    550,
                    -180
                ],
                "id": "258a7445-8f3c-4ea8-99b2-684dba24de02",
                "retryOnFail": false,
                "onError": "continueErrorOutput",
                "parameters": {
                    "method": "POST",
                    "url": "http://62.84.189.155:8080/message/sendText/puertadubai",
                    "authentication": "none",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "apikey",
                                "value": "m8mhao5g7e99yrlz4s0dp6"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={\n  \"number\": \"{{ ($json.whatsapp || $json.body.WhatsApp || $node['Webhook'].json.body.WhatsApp).toString().replace(/\\D/g, '') }}\",\n  \"textMessage\": {\n    \"text\": \"\u252c\u00edHola *{{ $node['Adaptador Web'].json.body.PrimerNombre }}*! \u0393\u00a3\u00bf Qu\u251c\u2310 gusto saludarte.\\n\\nSoy Isabel, de Dhahabi Agency. Much\u251c\u00a1simas gracias por registrarte y por tu inter\u251c\u2310s en lo que estamos construyendo en Dub\u251c\u00edi. \u2261\u0192\u00e7\u00aa\u2261\u0192\u00e7\u00ac\\n\\nAcabo de enviarte un regalo de bienvenida a tu correo electr\u251c\u2502nico: nuestro cat\u251c\u00edlogo exclusivo con todo lo que necesitas saber para empezar en los Emiratos. \u2261\u0192\u00f4\u2310\\n\\nDos cositas r\u251c\u00edpidas: 1\u2229\u2555\u00c5\u0393\u00e2\u00fa Corre a revisar tu bandeja de entrada (si no lo ves, chequea en Spam, \u252c\u00eda veces Google se pone caprichoso! \u2261\u0192\u00ff\u00e0). 2\u2229\u2555\u00c5\u0393\u00e2\u00fa Guarda mi n\u251c\u2551mero en tus contactos para que siempre estemos conectados por aqu\u251c\u00a1.\\n\\nCualquier duda que tengas, solo escr\u251c\u00a1beme. \u252c\u00edEstoy lista para ayudarte! \u2261\u0192\u00dc\u00c7\"\n  }\n}",
                    "options": {}
                }
            },
            {
                "parameters": {
                    "fromEmail": "puertadubbai@gmail.com",
                    "toEmail": "={{ $json.email || $node['Webhook'].json.body.Email }}",
                    "subject": "\u252c\u00edBienvenido a Dub\u251c\u00edi! \u2261\u0192\u00e7\u00aa\u2261\u0192\u00e7\u00ac Tu viaje empieza hoy \u0393\u00a3\u00bf",
                    "emailFormat": "html",
                    "html": "=<div style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; max-width: 600px; margin: 0 auto; background-color: #ffffff; color: #333;\">\n    <!-- Banner -->\n    <img src=\"http://62.84.189.155/imagenes/imagen1.jpg\" alt=\"Puerta Dub\u251c\u00edi\" style=\"width: 100%; max-width: 100%; height: auto; display: block;\">\n    \n    <div style=\"padding: 30px;\">\n        <p style=\"font-size: 16px; line-height: 1.6;\">\u252c\u00edHola <strong>{{ $node['Adaptador Web'].json.body.PrimerNombre }}</strong>! \u0393\u00a3\u00bf</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">No sabes la alegr\u251c\u00a1a que me da saludarte. Si est\u251c\u00eds leyendo esto, es porque algo dentro de ti ya empez\u251c\u2502 a viajar hacia los Emiratos. \u2261\u0192\u00e7\u00aa\u2261\u0192\u00e7\u00ac\u0393\u00a3\u00ea\u2229\u2555\u00c5</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">S\u251c\u2310 que dar el paso impone respeto \u0393\u00c7\u00f6yo tambi\u251c\u2310n estuve ah\u251c\u00a1\u0393\u00c7\u00f6, pero quiero que sepas algo muy importante: <strong>no vas a hacerlo solo.</strong></p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">Estoy aqu\u251c\u00a1 para ser esa amiga experta que te gu\u251c\u00a1a, te cuida y te ahorra los dolores de cabeza que yo pas\u251c\u2310. Mi misi\u251c\u2502n en <em>Dhahabi Agency</em> no es venderte un tr\u251c\u00edmite, es asegurarme de que tu llegada sea un \u251c\u2310xito.</p>\n        \n        <div style=\"text-align: center; margin: 30px 0;\">\n            <a href=\"https://drive.google.com/uc?export=download&id=1tIqYM9A0fQFF2KILaT204j_07bQ-TtLv\" style=\"background-color: #D4AF37; color: #ffffff; padding: 15px 30px; text-decoration: none; font-weight: bold; font-size: 16px; border-radius: 5px; display: inline-block; text-transform: uppercase; letter-spacing: 1px; box-shadow: 0 4px 6px rgba(212, 175, 55, 0.3);\">Descargar Cat\u251c\u00edlogo \u2261\u0192\u00f4\u2310</a>\n        </div>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">\u251c\u00ebchale un vistazo con calma, visual\u251c\u00a1zate all\u251c\u00a1... y cuando est\u251c\u2310s listo, hablamos.</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6; margin-top: 40px;\">Con cari\u251c\u2592o,</p>\n        \n        <div style=\"margin-top: 10px;\">\n            <strong style=\"font-size: 18px;\">Isabel</strong><br>\n            <span style=\"color: #666;\">CEO, Dhahabi Agency</span>\n        </div>\n        \n        <!-- Footer -->\n        <div style=\"margin-top: 50px; padding-top: 30px; border-top: 1px solid #eeeeee; text-align: center;\">\n            <!-- Logo Puerta Dub\u251c\u00edi -->\n            <img src=\"http://62.84.189.155/imagenes/logo%20puertadubai.png\" alt=\"Puerta Dub\u251c\u00edi\" style=\"max-width: 80px; height: auto; display: inline-block; margin-bottom: 5px;\">\n            \n            <p style=\"font-size: 10px; color: #bbb;\">\u252c\u2310 2026 Dhahabi Agency</p>\n        </div>\n    </div>\n</div>",
                    "options": {
                        "allowUnauthorizedCerts": true
                    }
                },
                "name": "Gmail SMTP",
                "type": "n8n-nodes-base.emailSend",
                "typeVersion": 2,
                "position": [
                    550,
                    0
                ],
                "id": "e4f8d9c2-premium-email",
                "credentials": {
                    "smtp": {
                        "id": "d9MsDiSEqUJr2oM4",
                        "name": "Dhahabi Legacy SMTP (Double B)"
                    }
                }
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "Adaptador Web",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Adaptador Web": {
                "main": [
                    [
                        {
                            "node": "Validar Inputs",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Validar Inputs": {
                "main": [
                    [
                        {
                            "node": "Supabase",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Supabase": {
                "main": [
                    [
                        {
                            "node": "Evolution API Final",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Gmail SMTP",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Check VIP",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check VIP": {
                "main": [
                    [
                        {
                            "node": "Alert Isabel Whatsapp",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Jorge Raudel Ricardo Rodriguez",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-01-31T06:22:20.271Z",
                "id": 63,
                "workflowId": "iB6MjmojzlgVQyWnzirJm",
                "versionId": "523db93e-f91a-450e-b79a-cd896ca25724",
                "event": "activated",
                "userId": "2d259069-42d7-4593-8680-376787b66485"
            }
        ]
    }
}