workflow_updated.json
{
  "updatedAt": "2026-01-30T11:25:51.696Z",
  "createdAt": "2026-01-19T21:38:56.808Z",
  "id": "iB6MjmojzlgVQyWnzirJm",
  "name": "registro-isabel",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registro-isabel",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -240,
        -48
      ],
      "id": "460f1e98-2870-4ceb-9a94-53162733b4f0",
      "webhookId": "a3832d6a-3b62-4feb-aa88-bbccdbed69a9"
    },
    {
      "parameters": {
        "jsCode": "const fields = items[0].json.data?.fields || [];\n\nconst getVal = (text) => {\n  if (!fields.length) return undefined;\n  const found = fields.find(f => f.label && f.label.toLowerCase().includes(text.toLowerCase()));\n  return found ? found.value : undefined;\n};\n\n// Fallback for direct JSON body (React Form or Tally)\nconst getBodyVal = (key) => items[0].json[key] || items[0].json.body?.[key];\n\n\n// Extraer primer nombre\nconst nombreCompleto = getBodyVal('nombre') || getBodyVal('Nombre') || getBodyVal('name') || getVal('nombre completo');\nconst primerNombre = nombreCompleto ? nombreCompleto.split(' ')[0] : '';\nreturn {\n  json: {\n    body: {\n      PrimerNombre: primerNombre,\n  json: {\n    body: {\n      proximidad_viaje: getBodyVal('proximidad_viaje') || getVal('cerca est\u00e1s hoy'),\n      pasaporte_ok: getBodyVal('pasaporte_ok') || getVal('pasaporte vigente'),\n      presupuesto_rango: getBodyVal('presupuesto_rango') || getVal('presupuesto inicial'),\n      meta_viaje: getBodyVal('meta_viaje') || getVal('meta principal'),\n      Nombre: getBodyVal('nombre') || getBodyVal('Nombre') || getBodyVal('name') || getVal('nombre completo'),\n      Email: getBodyVal('email') || getBodyVal('Email') || getVal('correo electr\u00f3nico'),\n      WhatsApp: getBodyVal('whatsapp') || getBodyVal('WhatsApp') || getVal('WhatsApp'),\n      interes_contacto: getBodyVal('interes_contacto') || getVal('contacte personalmente')\n    }\n  }\n};"
      },
      "name": "Adaptador Web",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -80,
        -48
      ],
      "id": "tally-adapter-node"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.Nombre }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.WhatsApp }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.Email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Validar Inputs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        -48
      ],
      "id": "validation-node-blindaje"
    },
    {
      "parameters": {
        "tableId": "leads_isabel",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nombre",
              "fieldValue": "={{ ($json.body.Nombre || '').toString().toLowerCase().replace(/\\b\\w/g, l => l.toUpperCase()) }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $json.body.WhatsApp }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.body.Email }}"
            },
            {
              "fieldId": "proximidad_viaje",
              "fieldValue": "={{ $json.body.proximidad_viaje }}"
            },
            {
              "fieldId": "pasaporte_ok",
              "fieldValue": "={{ $json.body.pasaporte_ok }}"
            },
            {
              "fieldId": "presupuesto_rango",
              "fieldValue": "={{ $json.body.presupuesto_rango }}"
            },
            {
              "fieldId": "meta_viaje",
              "fieldValue": "={{ $json.body.meta_viaje }}"
            },
            {
              "fieldId": "interes_contacto",
              "fieldValue": "={{ $json.body.interes_contacto }}"
            },
            {
              "fieldId": "es_vip",
              "fieldValue": "={{ (($json.body.presupuesto_rango || '').toString().includes('4,000') || ($json.body.presupuesto_rango || '').toString().includes('Opci\u00f3n C')) ? true : false }}"
            }
          ]
        }
      },
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        -48
      ],
      "id": "24c57921-b7cf-4ba8-ae55-9fecdf54a673",
      "credentials": {
        "supabaseApi": {
          "id": "adwOlpOVzQbJ5lla",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.es_vip }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check VIP",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        550,
        150
      ],
      "id": "check-vip-node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://62.84.189.155:8080/message/sendText/puertadubai",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "m8mhao5g7e99yrlz4s0dp6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5358249692\",\n  \"textMessage\": {\n    \"text\": \"\ud83d\udea8 *ALERTA VIP* \ud83d\udea8\\n\\n\u00a1Isabel! Nuevo lead BALLENA detectado (+$4,000 USD). \ud83d\udc0b\\n\\n\ud83d\udc64 *Nombre:* {{ $json.nombre }}\\n\ud83d\udcf1 *WhatsApp:* {{ $json.whatsapp }}\\n\ud83d\udcb0 *Presupuesto:* {{ $json.presupuesto_rango }}\\n\ud83c\udfaf *Meta:* {{ $json.meta_viaje }}\\n\\n\u00a1Revisa Supabase!\"\n  }\n}",
        "options": {}
      },
      "name": "Alert Isabel Whatsapp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        150
      ],
      "id": "alert-isabel-node"
    },
    {
      "name": "Evolution API Final",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        550,
        -180
      ],
      "id": "258a7445-8f3c-4ea8-99b2-684dba24de02",
      "retryOnFail": false,
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "http://62.84.189.155:8080/message/sendText/puertadubai",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "m8mhao5g7e99yrlz4s0dp6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ ($json.whatsapp || $json.body.WhatsApp || $node['Webhook'].json.body.WhatsApp).toString().replace(/\\D/g, '') }}\",\n  \"textMessage\": {\n    \"text\": \"\u00a1Hola *{{ $node['Adaptador Web'].json.body.PrimerNombre }}*! \u2728 Qu\u00e9 gusto saludarte.\\n\\nSoy Isabel, de Dhahabi Agency. Much\u00edsimas gracias por registrarte y por tu inter\u00e9s en lo que estamos construyendo en Dub\u00e1i. \ud83c\udde6\ud83c\uddea\\n\\nAcabo de enviarte un regalo de bienvenida a tu correo electr\u00f3nico: nuestro cat\u00e1logo exclusivo con todo lo que necesitas saber para empezar en los Emiratos. \ud83d\udce9\\n\\nDos cositas r\u00e1pidas: 1\ufe0f\u20e3 Corre a revisar tu bandeja de entrada (si no lo ves, chequea en Spam, \u00a1a veces Google se pone caprichoso! \ud83d\ude05). 2\ufe0f\u20e3 Guarda mi n\u00famero en tus contactos para que siempre estemos conectados por aqu\u00ed.\\n\\nCualquier duda que tengas, solo escr\u00edbeme. \u00a1Estoy lista para ayudarte! \ud83d\ude80\"\n  }\n}",
        "options": {}
      }
    },
    {
      "parameters": {
        "fromEmail": "puertadubbai@gmail.com",
        "toEmail": "={{ $json.email || $node['Webhook'].json.body.Email }}",
        "subject": "\u00a1Bienvenido a Dub\u00e1i! \ud83c\udde6\ud83c\uddea Tu viaje empieza hoy \u2728",
        "emailFormat": "html",
        "html": "=<div style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; max-width: 600px; margin: 0 auto; background-color: #ffffff; color: #333;\">\n    <!-- Banner -->\n    <img src=\"http://62.84.189.155/imagenes/imagen1.jpg\" alt=\"Puerta Dub\u00e1i\" style=\"width: 100%; max-width: 100%; height: auto; display: block;\">\n    \n    <div style=\"padding: 30px;\">\n        <p style=\"font-size: 16px; line-height: 1.6;\">\u00a1Hola <strong>{{ $node['Adaptador Web'].json.body.PrimerNombre }}</strong>! \u2728</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">No sabes la alegr\u00eda que me da saludarte. Si est\u00e1s leyendo esto, es porque algo dentro de ti ya empez\u00f3 a viajar hacia los Emiratos. \ud83c\udde6\ud83c\uddea\u2708\ufe0f</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">S\u00e9 que dar el paso impone respeto \u2014yo tambi\u00e9n estuve ah\u00ed\u2014, pero quiero que sepas algo muy importante: <strong>no vas a hacerlo solo.</strong></p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">Estoy aqu\u00ed para ser esa amiga experta que te gu\u00eda, te cuida y te ahorra los dolores de cabeza que yo pas\u00e9. Mi misi\u00f3n en <em>Dhahabi Agency</em> no es venderte un tr\u00e1mite, es asegurarme de que tu llegada sea un \u00e9xito.</p>\n        \n        <div style=\"text-align: center; margin: 30px 0;\">\n            <a href=\"https://drive.google.com/uc?export=download&id=1tIqYM9A0fQFF2KILaT204j_07bQ-TtLv\" style=\"background-color: #D4AF37; color: #ffffff; padding: 15px 30px; text-decoration: none; font-weight: bold; font-size: 16px; border-radius: 5px; display: inline-block; text-transform: uppercase; letter-spacing: 1px; box-shadow: 0 4px 6px rgba(212, 175, 55, 0.3);\">Descargar Cat\u00e1logo \ud83d\udce9</a>\n        </div>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">\u00c9chale un vistazo con calma, visual\u00edzate all\u00ed... y cuando est\u00e9s listo, hablamos.</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6; margin-top: 40px;\">Con cari\u00f1o,</p>\n        \n        <div style=\"margin-top: 10px;\">\n            <strong style=\"font-size: 18px;\">Isabel</strong><br>\n            <span style=\"color: #666;\">CEO, Dhahabi Agency</span>\n        </div>\n        \n        <!-- Footer -->\n        <div style=\"margin-top: 50px; padding-top: 30px; border-top: 1px solid #eeeeee; text-align: center;\">\n            <!-- Logo Puerta Dub\u00e1i -->\n            <img src=\"http://62.84.189.155/imagenes/logo%20puertadubai.png\" alt=\"Puerta Dub\u00e1i\" style=\"max-width: 80px; height: auto; display: inline-block; margin-bottom: 5px;\">\n            \n            <p style=\"font-size: 10px; color: #bbb;\">\u00a9 2026 Dhahabi Agency</p>\n        </div>\n    </div>\n</div>",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Gmail SMTP",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        550,
        0
      ],
      "id": "e4f8d9c2-premium-email",
      "credentials": {
        "smtp": {
          "id": "d9MsDiSEqUJr2oM4",
          "name": "Dhahabi Legacy SMTP (Double B)"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Adaptador Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adaptador Web": {
      "main": [
        [
          {
            "node": "Validar Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Inputs": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Evolution API Final",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail SMTP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check VIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check VIP": {
      "main": [
        [
          {
            "node": "Alert Isabel Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c3d1e3a0-b2a6-47b5-a211-49be13e6c240",
  "activeVersionId": "c3d1e3a0-b2a6-47b5-a211-49be13e6c240",
  "versionCounter": 193,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-19T21:38:56.818Z",
      "createdAt": "2026-01-19T21:38:56.818Z",
      "role": "workflow:owner",
      "workflowId": "iB6MjmojzlgVQyWnzirJm",
      "projectId": "5IxGhmgsQNQv9v3d",
      "project": {
        "updatedAt": "2025-12-02T12:22:12.872Z",
        "createdAt": "2025-12-02T12:17:46.435Z",
        "id": "5IxGhmgsQNQv9v3d",
        "name": "Jorge Raudel Ricardo Rodriguez <jorgeraudelricardo@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2d259069-42d7-4593-8680-376787b66485",
        "projectRelations": [
          {
            "updatedAt": "2025-12-02T12:17:46.435Z",
            "createdAt": "2025-12-02T12:17:46.435Z",
            "userId": "2d259069-42d7-4593-8680-376787b66485",
            "projectId": "5IxGhmgsQNQv9v3d",
            "user": {
              "updatedAt": "2026-01-30T06:04:06.000Z",
              "createdAt": "2025-12-02T12:17:45.164Z",
              "id": "2d259069-42d7-4593-8680-376787b66485",
              "email": "jorgeraudelricardo@gmail.com",
              "firstName": "Jorge Raudel",
              "lastName": "Ricardo Rodriguez",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-02T12:22:53.225Z",
                "personalization_survey_n8n_version": "1.119.2",
                "companySize": "personalUser",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "lwCRY0f7m1IaHALb",
                "userActivatedAt": 1764764190170,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1768910344389
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-30T11:25:51.702Z",
    "createdAt": "2026-01-30T11:25:51.702Z",
    "versionId": "c3d1e3a0-b2a6-47b5-a211-49be13e6c240",
    "workflowId": "iB6MjmojzlgVQyWnzirJm",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "registro-isabel",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -240,
          -48
        ],
        "id": "460f1e98-2870-4ceb-9a94-53162733b4f0",
        "webhookId": "a3832d6a-3b62-4feb-aa88-bbccdbed69a9"
      },
      {
        "parameters": {
          "jsCode": "const fields = items[0].json.data?.fields || [];\n\nconst getVal = (text) => {\n  if (!fields.length) return undefined;\n  const found = fields.find(f => f.label && f.label.toLowerCase().includes(text.toLowerCase()));\n  return found ? found.value : undefined;\n};\n\n// Fallback for direct JSON body (React Form or Tally)\nconst getBodyVal = (key) => items[0].json[key] || items[0].json.body?.[key];\n\nreturn {\n  json: {\n    body: {\n      proximidad_viaje: getBodyVal('proximidad_viaje') || getVal('cerca est\u00e1s hoy'),\n      pasaporte_ok: getBodyVal('pasaporte_ok') || getVal('pasaporte vigente'),\n      presupuesto_rango: getBodyVal('presupuesto_rango') || getVal('presupuesto inicial'),\n      meta_viaje: getBodyVal('meta_viaje') || getVal('meta principal'),\n      Nombre: getBodyVal('nombre') || getBodyVal('Nombre') || getBodyVal('name') || getVal('nombre completo'),\n      Email: getBodyVal('email') || getBodyVal('Email') || getVal('correo electr\u00f3nico'),\n      WhatsApp: getBodyVal('whatsapp') || getBodyVal('WhatsApp') || getVal('WhatsApp'),\n      interes_contacto: getBodyVal('interes_contacto') || getVal('contacte personalmente')\n    }\n  }\n};"
        },
        "name": "Adaptador Web",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          -80,
          -48
        ],
        "id": "tally-adapter-node"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.body.Nombre }}",
                "operation": "isNotEmpty"
              },
              {
                "value1": "={{ $json.body.WhatsApp }}",
                "operation": "isNotEmpty"
              },
              {
                "value1": "={{ $json.body.Email }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "name": "Validar Inputs",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          120,
          -48
        ],
        "id": "validation-node-blindaje"
      },
      {
        "parameters": {
          "tableId": "leads_isabel",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "nombre",
                "fieldValue": "={{ ($json.body.Nombre || '').toString().toLowerCase().replace(/\\b\\w/g, l => l.toUpperCase()) }}"
              },
              {
                "fieldId": "whatsapp",
                "fieldValue": "={{ $json.body.WhatsApp }}"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{ $json.body.Email }}"
              },
              {
                "fieldId": "proximidad_viaje",
                "fieldValue": "={{ $json.body.proximidad_viaje }}"
              },
              {
                "fieldId": "pasaporte_ok",
                "fieldValue": "={{ $json.body.pasaporte_ok }}"
              },
              {
                "fieldId": "presupuesto_rango",
                "fieldValue": "={{ $json.body.presupuesto_rango }}"
              },
              {
                "fieldId": "meta_viaje",
                "fieldValue": "={{ $json.body.meta_viaje }}"
              },
              {
                "fieldId": "interes_contacto",
                "fieldValue": "={{ $json.body.interes_contacto }}"
              },
              {
                "fieldId": "es_vip",
                "fieldValue": "={{ (($json.body.presupuesto_rango || '').toString().includes('4,000') || ($json.body.presupuesto_rango || '').toString().includes('Opci\u00f3n C')) ? true : false }}"
              }
            ]
          }
        },
        "name": "Supabase",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          320,
          -48
        ],
        "id": "24c57921-b7cf-4ba8-ae55-9fecdf54a673",
        "credentials": {
          "supabaseApi": {
            "id": "adwOlpOVzQbJ5lla",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.es_vip }}",
                "value2": true
              }
            ]
          }
        },
        "name": "Check VIP",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          550,
          150
        ],
        "id": "check-vip-node"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://62.84.189.155:8080/message/sendText/puertadubai",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "m8mhao5g7e99yrlz4s0dp6"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"5358249692\",\n  \"textMessage\": {\n    \"text\": \"\ud83d\udea8 *ALERTA VIP* \ud83d\udea8\\n\\n\u00a1Isabel! Nuevo lead BALLENA detectado (+$4,000 USD). \ud83d\udc0b\\n\\n\ud83d\udc64 *Nombre:* {{ $json.nombre }}\\n\ud83d\udcf1 *WhatsApp:* {{ $json.whatsapp }}\\n\ud83d\udcb0 *Presupuesto:* {{ $json.presupuesto_rango }}\\n\ud83c\udfaf *Meta:* {{ $json.meta_viaje }}\\n\\n\u00a1Revisa Supabase!\"\n  }\n}",
          "options": {}
        },
        "name": "Alert Isabel Whatsapp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          780,
          150
        ],
        "id": "alert-isabel-node"
      },
      {
        "name": "Evolution API Final",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          550,
          -180
        ],
        "id": "258a7445-8f3c-4ea8-99b2-684dba24de02",
        "retryOnFail": false,
        "onError": "continueErrorOutput",
        "parameters": {
          "method": "POST",
          "url": "http://62.84.189.155:8080/message/sendText/puertadubai",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "m8mhao5g7e99yrlz4s0dp6"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ ($json.whatsapp || $json.body.WhatsApp || $node['Webhook'].json.body.WhatsApp).toString().replace(/\\D/g, '') }}\",\n  \"textMessage\": {\n    \"text\": \"\u00a1Hola, {{ ($json.nombre || $json.body.Nombre || $node['Webhook'].json.body.Nombre).toString().toLowerCase().replace(/\\b\\w/g, l => l.toUpperCase()) }}! \u2728 Qu\u00e9 gusto saludarte.\\n\\nSoy Isabel, de Dhahabi Agency. Much\u00edsimas gracias por registrarte y por tu inter\u00e9s en lo que estamos construyendo en Dub\u00e1i. \ud83c\udde6\ud83c\uddea\\n\\nAcabo de enviarte un regalo de bienvenida a tu correo electr\u00f3nico: nuestro cat\u00e1logo exclusivo con todo lo que necesitas saber para empezar en los Emiratos. \ud83d\udce9\\n\\nDos cositas r\u00e1pidas: 1\ufe0f\u20e3 Corre a revisar tu bandeja de entrada (si no lo ves, chequea en Spam, \u00a1a veces Google se pone caprichoso! \ud83d\ude05). 2\ufe0f\u20e3 Guarda mi n\u00famero en tus contactos para que siempre estemos conectados por aqu\u00ed.\\n\\nCualquier duda que tengas, solo escr\u00edbeme. \u00a1Estoy lista para ayudarte! \ud83d\ude80\"\n  }\n}",
          "options": {}
        }
      },
      {
        "parameters": {
          "fromEmail": "puertadubbai@gmail.com",
          "toEmail": "={{ $json.email || $node['Webhook'].json.body.Email }}",
          "subject": "\u00a1Bienvenido a Dub\u00e1i! \ud83c\udde6\ud83c\uddea Tu viaje empieza hoy \u2728",
          "emailFormat": "html",
          "html": "=<div style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; max-width: 600px; margin: 0 auto; background-color: #ffffff; color: #333;\">\n    <!-- Banner -->\n    <img src=\"http://62.84.189.155/imagenes/imagen1.jpg\" alt=\"Puerta Dub\u00e1i\" style=\"width: 100%; max-width: 100%; height: auto; display: block;\">\n    \n    <div style=\"padding: 30px;\">\n        <p style=\"font-size: 16px; line-height: 1.6;\">\u00a1Hola <strong>{{ ($json.nombre || $node['Webhook'].json.body.Nombre || 'Futuro Residente').toString().toLowerCase().replace(/\\b\\w/g, l => l.toUpperCase()) }}</strong>! \u2728</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">No sabes la alegr\u00eda que me da saludarte. Si est\u00e1s leyendo esto, es porque algo dentro de ti ya empez\u00f3 a viajar hacia los Emiratos. \ud83c\udde6\ud83c\uddea\u2708\ufe0f</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">S\u00e9 que dar el paso impone respeto \u2014yo tambi\u00e9n estuve ah\u00ed\u2014, pero quiero que sepas algo muy importante: <strong>no vas a hacerlo solo.</strong></p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">Estoy aqu\u00ed para ser esa amiga experta que te gu\u00eda, te cuida y te ahorra los dolores de cabeza que yo pas\u00e9. Mi misi\u00f3n en <em>Dhahabi Agency</em> no es venderte un tr\u00e1mite, es asegurarme de que tu llegada sea un \u00e9xito.</p>\n        \n        <div style=\"text-align: center; margin: 30px 0;\">\n            <a href=\"https://drive.google.com/uc?export=download&id=1tIqYM9A0fQFF2KILaT204j_07bQ-TtLv\" style=\"background-color: #D4AF37; color: #ffffff; padding: 15px 30px; text-decoration: none; font-weight: bold; font-size: 16px; border-radius: 5px; display: inline-block; text-transform: uppercase; letter-spacing: 1px; box-shadow: 0 4px 6px rgba(212, 175, 55, 0.3);\">Descargar Cat\u00e1logo \ud83d\udce9</a>\n        </div>\n        \n        <p style=\"font-size: 16px; line-height: 1.6;\">\u00c9chale un vistazo con calma, visual\u00edzate all\u00ed... y cuando est\u00e9s listo, hablamos.</p>\n        \n        <p style=\"font-size: 16px; line-height: 1.6; margin-top: 40px;\">Con cari\u00f1o,</p>\n        \n        <div style=\"margin-top: 10px;\">\n            <strong style=\"font-size: 18px;\">Isabel</strong><br>\n            <span style=\"color: #666;\">CEO, Dhahabi Agency</span>\n        </div>\n        \n        <!-- Footer -->\n        <div style=\"margin-top: 50px; padding-top: 30px; border-top: 1px solid #eeeeee; text-align: center;\">\n            <!-- Logo Puerta Dub\u00e1i -->\n            <img src=\"http://62.84.189.155/imagenes/logo%20puertadubai.png\" alt=\"Puerta Dub\u00e1i\" style=\"max-width: 80px; height: auto; display: inline-block; margin-bottom: 5px;\">\n            \n            <p style=\"font-size: 10px; color: #bbb;\">\u00a9 2026 Dhahabi Agency</p>\n        </div>\n    </div>\n</div>",
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "name": "Gmail SMTP",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2,
        "position": [
          550,
          0
        ],
        "id": "e4f8d9c2-premium-email",
        "credentials": {
          "smtp": {
            "id": "d9MsDiSEqUJr2oM4",
            "name": "Dhahabi Legacy SMTP (Double B)"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Adaptador Web",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Adaptador Web": {
        "main": [
          [
            {
              "node": "Validar Inputs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Inputs": {
        "main": [
          [
            {
              "node": "Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase": {
        "main": [
          [
            {
              "node": "Evolution API Final",
              "type": "main",
              "index": 0
            },
            {
              "node": "Gmail SMTP",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check VIP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check VIP": {
        "main": [
          [
            {
              "node": "Alert Isabel Whatsapp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jorge Raudel Ricardo Rodriguez",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-30T11:25:51.886Z",
        "id": 62,
        "workflowId": "iB6MjmojzlgVQyWnzirJm",
        "versionId": "c3d1e3a0-b2a6-47b5-a211-49be13e6c240",
        "event": "activated",
        "userId": "2d259069-42d7-4593-8680-376787b66485"
      }
    ]
  }
}