.agent/skills/gestor_n8n/fix_final.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "registro-isabel",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -240,
                -48
            ],
            "id": "460f1e98-2870-4ceb-9a94-53162733b4f0",
            "webhookId": "a3832d6a-3b62-4feb-aa88-bbccdbed69a9"
        },
        {
            "parameters": {
                "tableId": "leads_isabel",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "nombre",
                            "fieldValue": "={{ $json.body.Nombre }}"
                        },
                        {
                            "fieldId": "whatsapp",
                            "fieldValue": "={{ $json.body.WhatsApp }}"
                        },
                        {
                            "fieldId": "email",
                            "fieldValue": "={{ $json.body.Email }}"
                        },
                        {
                            "fieldId": "paquete",
                            "fieldValue": "={{ $json.body.Interes }}"
                        }
                    ]
                }
            },
            "name": "Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                32,
                -48
            ],
            "id": "24c57921-b7cf-4ba8-ae55-9fecdf54a673",
            "credentials": {
                "supabaseApi": {
                    "id": "adwOlpOVzQbJ5lla",
                    "name": "Supabase account"
                }
            }
        },
        {
            "name": "Evolution API Final",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                304,
                -48
            ],
            "id": "258a7445-8f3c-4ea8-99b2-684dba24de02",
            "retryOnFail": false,
            "onError": "continueErrorOutput",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Puns5w7Q3WWhHGCY",
                    "name": "Header Auth account"
                }
            },
            "parameters": {
                "method": "POST",
                "url": "http://62.84.189.155:8080/message/sendText/puertadubai",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ ($json.whatsapp || $json.body.WhatsApp).toString().replace(/\\D/g, '') }}\",\n  \"textMessage\": {\n    \"text\": \"Hola {{ $json.nombre || $json.body.Nombre }}, gracias por registrarte. Isabel te contactará en breve.\"\n  }\n}",
                "options": {}
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase": {
            "main": [
                [
                    {
                        "node": "Evolution API Final",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}