.agent/skills/gestor_n8n/flujo_dhahabi.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "registro-isabel",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -240,
                -48
            ],
            "id": "460f1e98-2870-4ceb-9a94-53162733b4f0",
            "webhookId": "a3832d6a-3b62-4feb-aa88-bbccdbed69a9"
        },
        {
            "parameters": {
                "tableId": "leads_isabel",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "nombre",
                            "fieldValue": "={{ $json.body.Nombre }}"
                        },
                        {
                            "fieldId": "whatsapp",
                            "fieldValue": "={{ $json.body.WhatsApp }}"
                        },
                        {
                            "fieldId": "email",
                            "fieldValue": "={{ $json.body.Email }}"
                        },
                        {
                            "fieldId": "paquete",
                            "fieldValue": "={{ $json.body.Interes }}"
                        }
                    ]
                }
            },
            "name": "Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                32,
                -48
            ],
            "id": "24c57921-b7cf-4ba8-ae55-9fecdf54a673",
            "credentials": {
                "supabaseApi": {
                    "id": "adwOlpOVzQbJ5lla",
                    "name": "Supabase account"
                }
            }
        },
        {
            "name": "Evolution API Final",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                304,
                -48
            ],
            "id": "258a7445-8f3c-4ea8-99b2-684dba24de02",
            "retryOnFail": false,
            "onError": "continueErrorOutput",
            "parameters": {
                "method": "POST",
                "url": "http://62.84.189.155:8080/message/sendText/puertadubai",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "m8mhao5g7e99yrlz4s0dp6"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ ($json.whatsapp || $json.body.WhatsApp).toString().replace(/\\D/g, '') }}\",\n  \"textMessage\": {\n    \"text\": \"Hola {{ $json.nombre || $json.body.Nombre }}, gracias por registrarte. Isabel te contactará en breve.\"\n  }\n}",
                "options": {}
            }
        },
        {
            "parameters": {
                "fromEmail": "puertadubai@gmail.com",
                "toEmail": "={{ $json.email || $json.body.Email }}",
                "subject": "Bienvenido a Dhahabi Agency - Tu Puerta a Dubái",
                "html": "<html>\n<body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.6;\">\n\n<div style=\"max-width: 600px; margin: 0 auto; border: 1px solid #ddd; border-radius: 8px; overflow: hidden;\">\n    <div style=\"background-color: #000; color: #D4AF37; padding: 20px; text-align: center;\">\n        <h1 style=\"margin: 0;\">Dhahabi Agency</h1>\n        <p style=\"margin: 5px 0 0; font-size: 14px; letter-spacing: 2px;\">PUERTA A DUBÁI</p>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p>Hola <strong>{{ $json.nombre || $json.body.Nombre }}</strong>,</p>\n        \n        <p>¡Gracias por tu interés en nuestros servicios!</p>\n        \n        <p>En Dhahabi Agency, nos especializamos en hacer realidad tus sueños en los Emiratos Árabes Unidos. Ya sea que busques oportunidades de inversión, turismo de lujo o asesoría para establecerte, estamos aquí para guiarte.</p>\n\n        <p>Hemos recibido tus datos correctamente. Nuestro equipo revisará tu perfil y te contactará muy pronto para brindarte una atención personalizada.</p>\n\n        <div style=\"text-align: center; margin: 30px 0;\">\n            <a href=\"#\" style=\"background-color: #D4AF37; color: #000; padding: 12px 24px; text-decoration: none; font-weight: bold; border-radius: 4px;\">Ver Catálogo de Servicios</a>\n        </div>\n\n        <p>Atentamente,<br>\n        <strong>Isabel - CEO Dhahabi Agency</strong></p>\n    </div>\n\n    <div style=\"background-color: #f9f9f9; padding: 15px; text-align: center; font-size: 12px; color: #888;\">\n        <p>&copy; 2026 Dhahabi Agency. Todos los derechos reservados.</p>\n    </div>\n</div>\n\n</body>\n</html>",
                "options": {
                    "allowUnauthorizedCerts": true
                }
            },
            "name": "Gmail SMTP",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                304,
                152
            ],
            "id": "e3b4a5d6-c7e8-4f9a-9b8c-1d2e3f4a5b6c",
            "credentials": {
                "smtp": {
                    "id": "KJBIfpyq4ok2cGJI",
                    "name": "Dhahabi Gmail SMTP"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase": {
            "main": [
                [
                    {
                        "node": "Evolution API Final",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Gmail SMTP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}